{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Robert Clukey</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="sources/styles.css" rel="stylesheet">
        <script src="sources/website.js"></script>
    </head>
    <body>
        <div style="color:blue">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="index.html">Robert Clukey</a>
                
                <div>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="resume.html">Resume</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="capstone.html">Senior Capstone</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="youtube.html">Youtube Channel</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        {% block main %}
        {% endblock %}

        <div style="padding-top: 50px;">
            <div style="background-color: lightgrey;">
                <div class="container" style="padding: 30px; padding-bottom: 50px;">
                    <div class="row align-items-center">
                        <div class="col text-align-center">
                            <a target="_blank" href="mailto:robertclukey1234@gmail.com">robertclukey1234@gmail.com</a>
                        </div>
                        <div class="col text-align-center">
                            <a target="_blank" href="https://github.com/RClukey">GitHub</a>
                        </div>
                        <div class="col text-align-center">
                            <a target="_blank" href="https://www.linkedin.com/in/robert-clukey/">LinkedIn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
