{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Robert Clukey</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="sources/styles.css" rel="stylesheet">
        <script src="sources/website.js"></script>
    </head>
    <body>
        <ul class="taskbar fixed-top">
            <li><a href="index.html" class="active">Robert Clukey</a></li>
            <li style="float:right"><a href="resume.html">Resume</a></li>
            <li style="float:right"><a href="projects.html">Projects</a></li>
        </ul>

        {% block main %}
        {% endblock %}

        <div style="padding-top: 50px;">
            <div style="background-color: lightgrey;">
                <div class="container" style="padding: 30px; padding-bottom: 50px;">
                    <div class="row align-items-center">
                        <div class="col text-align-center">
                            <a target="_blank" href="mailto:bobby@clukey.org">bobby@clukey.org</a>
                        </div>
                        <div class="col text-align-center">
                            <a target="_blank" href="https://github.com/RClukey">GitHub</a>
                        </div>
                        <div class="col text-align-center">
                            <a target="_blank" href="https://www.linkedin.com/in/robert-clukey/">LinkedIn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>

