.text-align-center {
    text-align: center;
}

.black {
    color: black;
}

.margin-20 {
    margin: 20px;
}

.padding-20 {
    padding: 20px;
}

.font-50 {
    font-size: 50px;
}

.footer {
    position: fixed;
    padding-bottom: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.centered {
    align-items: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.text-align-top {
    position: absolute;
    top: 0;
}

.border-top-4 {
    border-top:solid black 4px;
}

.border-right-4 {
    border-right:solid black 4px;
}

.border-left-4 {
    border-left:solid black 4px;
}

.border-bottom-4 {
    border-bottom:solid black 4px;
}

.border-top-2 {
    border-top:solid black 2px;
}

.border-right-2 {
    border-right:solid black 2px;
}

.border-left-2 {
    border-left:solid black 2px;
}

.border-bottom-2 {
    border-bottom:solid black 2px;
}