{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Robert Clukey{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'myWebsite/styles.css' %}" rel="stylesheet">
        <script src="{% static 'myWebsite/website.js' %}"></script>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div style="color:blue">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'index' %}">Robert Clukey</a>
                
                <div>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'resume' %}">Resume</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'youtube' %}">Youtube Channel</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        {% block main %}
        {% endblock %}

        <div style="padding-top: 50px;">
            <div style="background-color: lightgrey;">
                <div class="container" style="padding: 30px; padding-bottom: 50px;">
                    <div class="row align-items-center">
                        <div class="col text-align-center">
                            <a target="_blank" href="mailto:rclukey@tamu.edu">rclukey@tamu.edu</a>
                        </div>
                        <div class="col text-align-center">
                            <a target="_blank" href="https://github.com/rdc890444">GitHub</a>
                        </div>
                        <div class="col text-align-center">
                            <a target="_blank" href="https://www.linkedin.com/in/robert-clukey/">LinkedIn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>