{% extends "myWebsite/layout.html" %}

{% block main %}

    <h1 class="text-align-center" style="font-size: 100px;"><strong>One Century Later</strong></h1>

    <div class="padding-20 text-align-center">
        <p style="font-size: 20px;">I started this channel on January 1, 2025.<br>
            Each Sunday, I post a video covering all events that happened during that week, 100 years ago.</p><br>
        <a style="padding: 40px;" target="_blank" href="https://www.youtube.com/@OneCenturyLater"><img src="https://media.discordapp.net/attachments/541696101204492334/1349035846761709588/OneCenturyLater.png?ex=67d1a309&is=67d05189&hm=2d17430bc4e2d1067059bb66a559fb78b3f6bb565fcd7fceb3cd31562f523b99&=&format=webp&quality=lossless&width=599&height=571" alt="One Century Later Logo" width="300" height="280"></a><br>
        <a style="padding: 40px; font-size: 20px;" target="_blank" href="https://www.youtube.com/@OneCenturyLater">One Century Later</a>
        <div style="padding-top: 40px; font-size: 25px;">
            <p style="padding-bottom: 0px;">Skills Acquired:</p>
            Animation<br>
            Da Vinci Resolve<br>
            Dedication<br>
            Time Management<br>
        </div>
    </div>

{% endblock %}
